dotfiles/common/.config/nvim/plugged/*
dotfiles/common/.config/nvim/sessions/*
dotfiles/common/.config/nvim/view/*
dotfiles/common/.config/nvim/pack/*

dotfiles/common/.config/fish/completions/*
dotfiles/common/.config/fish/functions/*
dotfiles/common/.local/share
dotfiles/common/.local/lib/python3.7

.gitsecret/keys/random_seed
dotfiles/common/.ssh/*
!dotfiles/common/.ssh/.gitkeep
!dotfiles/common/.ssh/*.secret
key.asc
secrets/*
!secrets/*.secret

dotfiles/common/.local/share/applications/chrome-*
dotfiles/common/.local/share/icons
